.container {
    background: pink;
    padding: 60px 0;
}

form.form {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

input {
    height: 25px;
    width: 99%;
    outline: 0;
    margin-top: 8px;
    margin-bottom: 20px;
}

button {
    padding: 9px 28px;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    text-transform: capitalize;
    background: #ff869b;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.showDataStyle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}